/*.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*="navbar"]) {*/
/*    background-color: #fff;*/
/*}*/
.brand-link {
    padding: 5px .5rem;
}
.brand-link .brand-image {
    width: auto;
    max-width: 200px;
    max-height: 50px;
}
.dropdown-divider {
    border-color: #5a5c5e;
}
[class*="sidebar-dark-"] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*="sidebar-dark-"] .nav-sidebar > .nav-item:hover > .nav-link, [class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-link:focus {
    background-color: #FB517F;
}
[class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-treeview {
    background: #464242;
}
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:focus, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:hover {
    /*background-color: #242526;*/
    background-color: inherit;
    color: #466cdf;
    border-left: 5px solid #466cdf;
}
.nav-pills .nav-link {
    border-radius: inherit;
}
.nav-treeview .nav-item .nav-link {
    border-bottom: 2px solid #44484d;
    padding-left: 35px;
}
/*search box css start here*/
.list-search-btn {
    font-size: 23px;
}
.table-avatar {
    max-width: 50px;
}
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
/* Datatable Styles */

.dataTables_wrapper .bottom {
    border: 1px solid #ececec;
    height: 74px;
    background: #f9f8f8;
    padding: 0 10px;
}

.dataTables_length {
    width: auto;
    float: left;
    padding: 0;
    margin-right: 15px;
}

.dataTables_paginate {
    width: auto;
    float: right;
}

.dataTables_info {
    max-width: 240px !important;
    float: left;
    background: #dfdfdf;
    padding: 0 15px 10px;
}

.table-avatar {
    width: 50px;
    height: 60px;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}
